//  Breaking Points and Media term
$mqTerm: "only screen";
$bp-xl: "min-width: 1200px";
$bp-lg: "min-width: 992px";
$bp-md: "min-width: 768px";
$bp-sm: "max-width: 767px";

// colors

$bg-color: #f1f4f7;
$primary-color: #0c182a;
$secondary-color: #939dab;
$para-color: #6f7682;
$card-bg-color: #fff;
